<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAd5rkjXQviZlWQjSr-lEx6-UWamZxGT0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>725605578524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todosByBloc.dev</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-todos-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-todos-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725605578524:ios:4c159ff7e57492e1e52cd9</string>
</dict>
</plist>